<div class="container" id="error">
	<div class="center-align">
		<h1>You need to enter a URL!</h1>
	</div>	
	<div class="row center-align">
		<a href="/"><button class="btn deep-orange lighten-3">Back to Homepage</button></a>
	</div>
</div>