<h1>Link Shortener Extraordinaire</h1>

<form action="/links/" method="POST" role="search" autocomplete="off" id="form1">
	<input type="text" placeholder="URL to Shorten" name="q">
	<button type="submit">Submit</button>
</form>

<a href="/links/">See all links generated</a>