<div class="container" id="title">	
	<div class="row">
		<h1 class="center-align">Link Shortener Extraordinaire</h1>
	</div>	
	<div class = "row">
		<form  class="center-align" action="/links/" method="POST" role="search" autocomplete="off" id="form1">
			<input type="text" placeholder="http://www.google.com" name="q">
			<button class="btn deep-orange lighten-3" type="submit">Submit</button>
		</form>
	</div>	
	<div class="row center-align">
		<a  class="center-align" href="/links/"><button class="btn center-align deep-orange lighten-3">See all links generated</button></a>
	</div>	
</div>