<div class="container">
	<div class="row center-align">
		<h1>Here's your link!</h1>
		<h5>Copy and paste to use and share.</h5>
	</div>

	<div class="row center-align">
		<p><a href="<%= '/' + hash %>"><%= "localhost:3000/" + hash %></a></p>
	</div>

	<div class="row">
		<div class="col s8 offset-s2">
			<a href="/" class="left"><button class="btn deep-orange lighten-3">Back to Homepage</button></a>
			<a href="/links/" class="right"><button class="btn deep-orange lighten-3">See All Links</button></a>
		</div>
	</div>
</div>

